table.blueTable {
    border: 1px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}
table.blueTable td, table.blueTable th {
    border: 1px solid #AAAAAA;
    padding: 3px 2px;
}
table.blueTable tbody td {
    font-size: 17px;
}
table.blueTable tr:nth-child(even) {
    background: #F5C2ED;
}
table.blueTable thead {
    background: #A46188;
    background: -moz-linear-gradient(top, #bb88a6 0%, #ad7094 66%, #A46188 100%);
    background: -webkit-linear-gradient(top, #bb88a6 0%, #ad7094 66%, #A46188 100%);
    background: linear-gradient(to bottom, #bb88a6 0%, #ad7094 66%, #A46188 100%);
    border-bottom: 2px solid #444444;
}
table.blueTable thead th {
    font-size: 23px;
    font-weight: bold;
    color: #000000;
    text-align: center;
    border-left: 2px solid #D0E4F5;
}
table.blueTable thead th:first-child {
    border-left: none;
}